*{
    text-align: center;
}

html{
    background-color: azure;
}


body{
    width: 800px;
    margin: auto;
}

h1{
    font-size: 48px;
}

img{
    border-radius: 150px;
}
p{
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-size: 30px;
}