/* 전체적인 셋팅 */

*{
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
}
.container{
  height: 100%;
  background-color: bisque;
}

/* 스크린 크기조정 (main) */
.chat-screen{
  height: calc(100% - 100px);
}

/* calc(칼크) = 전체에서 채팅 입력창 크기만큼 제외하고 싶을떄 쓸수 있는  CSS 함수 */
/* CSS 수치끼리 계산을 해서 그 결과를 속성값으로 쓰고 싶을때*/


/* 유저 정보 표시되는 부분 */
.user{
  background-color: aliceblue;
  padding: 16px;
  /* padding = 여백의 미, 16px = 글자하나크기 정도*/
  height: 80px;
}

.user__pic{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: beige;
}

/* 친구2,user__pic은 block들이어서....나란히 붙히기 위해 */
.user__column{
  float: left;
}

.user__nick, .user__count{
  margin: 5px;
}
.user__count{
  font-size: 12px;
  color: grey;
}

/* 채팅 입력 창 */
.chat-form{
  height: 120px;
  background-color: aliceblue;
}
.chat-form__field{
  height: 120px;
}
.chat-form__msg{
  float: left;
  width: calc(100%-100px);
  height: 120px;
  border: none;
  resize: none;
  font-size: 24px;
  padding: 10px;
}
.chat-form__bt{
  float: right;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: bisque;
  font-size: 18px;
}
.chat-form__bt:active{
  background-color: rgb(239, 204, 158);
}

.chat-form__msg:focus{
  outline: none;
}
/* 채팅창에 포커스를 맞추었을때, textarea를 따라서 윤곽선이 생기는것이 'outline' 제거 */